
<% provide(:title, 'About Us')%>
<!DOCTYPE html>
<head>
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
</head>


<body>
  <div>
    <header>
      <h1>About Us</h1>
    </header>
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>

    <div>
      
    </div>

    <footer>
     <p>&copy; Copyright  by Chris Boden</p>
    </footer>
  </div>
</body>
</html>
