
<% provide(:title, 'Help')%>
<!DOCTYPE html>
<head>
	<title>Ruby on Rails Tutorial Sample App | <%= yield(:title)%></title>
</head>
<body>
	<h1>Help</h1>
<p>Get help at the Ruby on Rails Tutorial site</p>
</body>
